<body>
  <p class="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <section class="User-Info">
          <h2>User Info</h2>
          <div class="user-photo clearfix">
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
          </div>
          <table>
            <tbody>
              <tr>
                <th>name</th>
                <th class="user-name">
                  <%= @user.name %></th>
              </tr>
              <tr>
                <th>introduction</th>
                <th><%= @user.introduction %></th>
              </tr>
            </tbody>
          </table>
          <% if @user.id == current_user.id %>
            <div class="row">
              <a><%= link_to '', edit_user_path(@user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></a>
            </div>
          <% end %>
        </section>
        
        <section class="new-book">
        <h2>New book</h2>

          <% if @book.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

              <ul>
                <% @book.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

        <!-- form for -->
          <%= form_for(@book) do |f| %>
            <h4>title</h4>
            <%= f.text_field :title %>
            <h4>opinion</h4>
            <div>
              <%= f.text_area :body %>
            </div>

            <%= f.submit 'Create Book' %>

          <% end %>
        </section>
      </div>
      <div class=col-xs-9>

          <section class="Users">
            <h2>Users</h2>
            <table>
             <thead>
              <tr>
                <th>image</th>
                <th>name</th>
                <th colspan="3"></th>
              </tr>
             </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td>
                      <a>
                        <%= link_to (attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg"),user_path(user) %>
                      </a>
                    </td>
                    <td class="user-name"><%= user.name %></td>
                    <td><%= link_to "Show", user_path(user) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </section>
      </div>
    </div>
  </div>
</body>