<body>
  <p class="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <section class="User-Info">
          <h2>User Info</h2>
          <div class="user-photo clearfix">
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
          </div>
          <table>
            <tbody>
              <tr>
                <th>name</th>
                <th class="user-name">
                  <%= @user.name %></th>
              </tr>
              <tr>
                <th>introduction</th>
                <th><%= @user.introduction %></th>
              </tr>
            </tbody>
          </table>
          <% if @user.id == current_user.id %>
            <div class="row">
              <a><%= link_to '', edit_user_path(@user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></a>
            </div>
          <% end %>
        </section>
        
        <section class="New-book">
        <h2>New book</h2>

          <% if @book.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

              <ul>
                <% @book.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

        <!-- form for -->
          <%= form_for(@book) do |f| %>
            <h4 class="book[title]">title</h4>
            <%= f.text_field :title %>
            <h4>opinion</h4>
            <div>
              <%= f.text_area :body %>
            </div>

            <%= f.submit 'Create Book' %>

          <% end %>
        </section>
      </div>
      <div class=col-xs-9>

          <section class="Books">
            <h2>Books</h2>
            <table>
             <thead>
              <tr>
                <th colspan="1"></th>
                <th>title</th>
                <th>opinion</th>
                <th colspan="3"></th>
              </tr>
             </thead>
              <tbody>
                <% @books.each do |book| %>
                  <tr>
                    <td>
                      <a>
                        <%= link_to (attachment_image_tag book.user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg"),user_path(book.user) %>
                        <br>
                        <%= link_to book.user.name ,user_path(book.user) %>
                      </a>
                    </td>
                    <td class="book-title"><%= link_to book.title , book_path(book.id) %></td>
                    <td class="book-body"><%= link_to book.body , book_path(book.id) %></td>
                    <% if book.user.id ==current_user.id %>
                    <td>
                      <%= link_to "Edit", edit_book_path(book),class: "btn-sm btn-success" %>
                      </td>
                      <% end %>
                      <% if book.user.id ==current_user.id %>
                    <td><%= link_to "Destroy", book_path(book), class: "btn-sm btn-danger",  method: :delete, "data-confirm" => "本当に消しますか?"  %></td>
                      <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </section>
      </div>
    </div>
  </div>
</body>